<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="..\..\Resources\Plugins" />
      <dependentAssembly>
        <assemblyIdentity name="UnityEngine.CoreModule" publicKeyToken="null" culture="neutral" />
        <codeBase version="0.0.0.0" href="..\..\Resources\Plugins\UnityEngine.CoreModule.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>