!*.dll.meta
!*.asset.meta
!*.asmdef.meta
!*.cs.meta
!*.meta
!*.[Cc]ache/

# 
*.DS_Store
*.rej
*.orig
*.git
*.bak
*.sln.DotSettings.user
*.csproj.DotSettings
*.mdf
*.ldf
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb
*.opt
*.plg
*.log
*.sln
*.psess
*.vsp
*.vspx
*.sap
*.[Cc]ache
*.VisualState.xml
*.TestResult.xml
*.[Rr]e[Ss]harper
*.DotSettings.user
*.rdl.data
*.bim.layout
*.bim_*.settings
*.dotCover
*.nupkg
*.sln.iml

_pkginfo.txt
[Pp]ackage.StoreAssociation.xml

[Bb]uild[Ll]og.*
_ReSharper*/

*.*.*-[Pp]review/
*.*.*/
.git/
.vs/
.idea/
.gradle/
.consulo/

# 按照字母顺序排列
[Aa]ppPackages/
[Bb]in/
[Bb]ld/
[Bb]undleArtifacts/
[Bb]uild/
[Bb]uilds/
[Bb]uildOutput/
[Dd]ebug/
[Dd]ebugPublic/
[Ee]cf/
[Ff]akesAssemblies/
[Tt]emp/
[Tt]est[Rr]esult*/
[Ii]pch/
[Rr]cf/
[Rr]elease/
[Rr]eleases/
[Pp]ackages/
[Oo]bj/
[Oo]ut/
[Ll]ogs/
[Ll]og/
[Xx]64/
[Xx]86/