<#@ template debug="false" hostspecific="false" language="C#" linePragmas="true" visibility="public"#>
<#@ output extension=".cs" encoding="utf-8" #>
<#@ include file="GELayout.ttinclude" #>
<#= new ClassParamSingleton().ClassParams.GetAllText() #>